<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <title>One Shop || e-Commerce HTML Template</title>
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/select2.min.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/jquery.nice-number.min.css">
  <link rel="stylesheet" href="css/jquery.calendar.css">
  <link rel="stylesheet" href="css/add_row_custon.css">
  <link rel="stylesheet" href="css/mobile_menu.css">
  <link rel="stylesheet" href="css/jquery.exzoom.css">
  <link rel="stylesheet" href="css/multiple-image-video.css">
  <link rel="stylesheet" href="css/ranger_style.css">
  <link rel="stylesheet" href="css/jquery.classycountdown.css">
  <link rel="stylesheet" href="css/venobox.min.css">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <!-- <link rel="stylesheet" href="css/rtl.css"> -->
</head>

<body>


  <!--=============================
    DASHBOARD MENU START
  ==============================-->
  <div class="wsus__dashboard_menu">
    <div class="wsusd__dashboard_user">
      <img src="images/dashboard_user.jpg" alt="img" class="img-fluid">
      <p>anik roy</p>
    </div>
  </div>
  <!--=============================
    DASHBOARD MENU END
  ==============================-->


  <!--=============================
    DASHBOARD START
  ==============================-->
  <section id="wsus__dashboard">
    <div class="container-fluid">
      <div class="dashboard_sidebar">
        <span class="close_icon">
          <i class="far fa-bars dash_bar"></i>
          <i class="far fa-times dash_close"></i>
        </span>
        <a href="dsahboard.html" class="dash_logo"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
        <ul class="dashboard_link">
          <li><a href="dsahboard.html"><i class="fas fa-tachometer"></i>Dashboard</a></li>
          <li><a href="dsahboard_order.html"><i class="fas fa-list-ul"></i> Orders</a></li>
          <li><a href="dsahboard_download.html"><i class="far fa-cloud-download-alt"></i> Downloads</a></li>
          <li><a class="active" href="dsahboard_review.html"><i class="far fa-star"></i> Reviews</a></li>
          <li><a href="dsahboard_wishlist.html"><i class="far fa-heart"></i> Wishlist</a></li>
          <li><a href="dsahboard_profile.html"><i class="far fa-user"></i> My Profile</a></li>
          <li><a href="dsahboard_address.html"><i class="fal fa-gift-card"></i> Addresses</a></li>
          <li><a href="#"><i class="far fa-sign-out-alt"></i> Log out</a></li>
        </ul>
      </div>

      <div class="row">
        <div class="col-xl-9 col-xxl-10 col-lg-9 ms-auto">
          <div class="dashboard_content mt-2 mt-md-0">
            <h3><i class="far fa-star"></i> reviews</h3>
            <div class="wsus__dashboard_review">
              <div class="row">
                <div class="col-xl-6">
                  <div class="wsus__dashboard_review_item">
                    <div class="wsus__dash_rev_img">
                      <img src="images/tab_1.jpg" alt="product" class="img-fluid w-100">
                    </div>
                    <div class="wsus__dash_rev_text">
                      <h5>apple ipad 7 serise <span>06-11-2021</span></h5>
                      <p class="wsus__dash_review">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                      </p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur temporibus cum
                        excepturi.</p>
                      <ul>
                        <li><a href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"><i
                              class="fal fa-edit"></i> edit</a></li>
                        <li><a href="#"><i class="far fa-minus-circle"></i> delete</a></li>
                      </ul>
                      <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-collapseOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              <form>
                                <div class="wsus__riv_edit_single">
                                  <i class="fas fa-star"></i>
                                  <select class="select_2" name="state">
                                    <option value="AL">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                  </select>
                                </div>
                                <div class="wsus__riv_edit_single text_area">
                                  <i class="far fa-edit"></i>
                                  <textarea cols="3" rows="3" placeholder="Your Text"></textarea>
                                </div>
                                <button type="submit" class="common_btn">submit</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="wsus__dashboard_review_item">
                    <div class="wsus__dash_rev_img">
                      <img src="images/mobile_2.jpg" alt="product" class="img-fluid w-100">
                    </div>
                    <div class="wsus__dash_rev_text">
                      <h5>redmi note 8 (2020) <span>06-11-2021</span></h5>
                      <p class="wsus__dash_review">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                      </p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur amet temporibus cum.</p>
                      <ul>
                        <li><a href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapsetwo"><i
                              class="fal fa-edit"></i> edit</a></li>
                        <li><a href="#"><i class="far fa-minus-circle"></i> delete</a></li>
                      </ul>
                      <div class="accordion accordion-flush" id="accordionFlushExample2">
                        <div class="accordion-item">
                          <div id="flush-collapsetwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-collapsetwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              <form>
                                <div class="wsus__riv_edit_single">
                                  <i class="fas fa-star"></i>
                                  <select class="select_2" name="state">
                                    <option value="AL">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                  </select>
                                </div>
                                <div class="wsus__riv_edit_single text_area">
                                  <i class="far fa-edit"></i>
                                  <textarea cols="3" rows="3" placeholder="Your Text"></textarea>
                                </div>
                                <button type="submit" class="common_btn">submit</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="wsus__dashboard_review_item mb-xl-0 mb-xxl-0">
                    <div class="wsus__dash_rev_img">
                      <img src="images/headphone_1.jpg" alt="product" class="img-fluid w-100">
                    </div>
                    <div class="wsus__dash_rev_text">
                      <h5>bluetooth headphone <span>06-11-2021</span></h5>
                      <p class="wsus__dash_review">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                      </p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur temporibus cum
                        excepturi.</p>
                      <ul>
                        <li><a href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree"><i
                              class="fal fa-edit"></i> edit</a></li>
                        <li><a href="#"><i class="far fa-minus-circle"></i> delete</a></li>
                      </ul>
                      <div class="accordion accordion-flush" id="accordionFlushExample3">
                        <div class="accordion-item">
                          <div id="flush-collapsethree" class="accordion-collapse collapse"
                            aria-labelledby="flush-collapsethree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              <form>
                                <div class="wsus__riv_edit_single">
                                  <i class="fas fa-star"></i>
                                  <select class="select_2" name="state">
                                    <option value="AL">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                  </select>
                                </div>
                                <div class="wsus__riv_edit_single text_area">
                                  <i class="far fa-edit"></i>
                                  <textarea cols="3" rows="3" placeholder="Your Text"></textarea>
                                </div>
                                <button type="submit" class="common_btn">submit</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="wsus__dashboard_review_item for_mar">
                    <div class="wsus__dash_rev_img">
                      <img src="images/headphone_1.jpg" alt="product" class="img-fluid w-100">
                    </div>
                    <div class="wsus__dash_rev_text">
                      <h5>bluetooth headphone <span>06-11-2021</span></h5>
                      <p class="wsus__dash_review">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                      </p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur temporibus cum
                        excepturi.</p>
                      <ul>
                        <li><a href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour"><i
                              class="fal fa-edit"></i> edit</a></li>
                        <li><a href="#"><i class="far fa-minus-circle"></i> delete</a></li>
                      </ul>
                      <div class="accordion accordion-flush" id="accordionFlushExample4">
                        <div class="accordion-item">
                          <div id="flush-collapsefour" class="accordion-collapse collapse"
                            aria-labelledby="flush-collapsefour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              <form>
                                <div class="wsus__riv_edit_single">
                                  <i class="fas fa-star"></i>
                                  <select class="select_2" name="state">
                                    <option value="AL">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                  </select>
                                </div>
                                <div class="wsus__riv_edit_single text_area">
                                  <i class="far fa-edit"></i>
                                  <textarea cols="3" rows="3" placeholder="Your Text"></textarea>
                                </div>
                                <button type="submit" class="common_btn">submit</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=============================
    DASHBOARD START
  ==============================-->


  <!--============================
    SCROLL BUTTON START
  ==============================-->
  <div class="wsus__scroll_btn">
    <i class="fas fa-chevron-up"></i>
  </div>
  <!--============================
    SCROLL BUTTON  END
  ==============================-->


  <!--jquery library js-->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!--bootstrap js-->
  <script src="js/bootstrap.bundle.min.js"></script>
  <!--font-awesome js-->
  <script src="js/Font-Awesome.js"></script>
  <!--select2 js-->
  <script src="js/select2.min.js"></script>
  <!--slick slider js-->
  <script src="js/slick.min.js"></script>
  <!--simplyCountdown js-->
  <script src="js/simplyCountdown.js"></script>
  <!--product zoomer js-->
  <script src="js/jquery.exzoom.js"></script>
  <!--nice-number js-->
  <script src="js/jquery.nice-number.min.js"></script>
  <!--counter js-->
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.countup.min.js"></script>
  <!--add row js-->
  <script src="js/add_row_custon.js"></script>
  <!--multiple-image-video js-->
  <script src="js/multiple-image-video.js"></script>
  <!--sticky sidebar js-->
  <script src="js/sticky_sidebar.js"></script>
  <!--price ranger js-->
  <script src="js/ranger_jquery-ui.min.js"></script>
  <script src="js/ranger_slider.js"></script>
  <!--isotope js-->
  <script src="js/isotope.pkgd.min.js"></script>
  <!--venobox js-->
  <script src="js/venobox.min.js"></script>
  <!--classycountdown js-->
  <script src="js/jquery.classycountdown.js"></script>

  <!--main/custom js-->
  <script src="js/main.js"></script>
</body>

</html>