<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <title>One Shop || e-Commerce HTML Template</title>
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/select2.min.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/jquery.nice-number.min.css">
  <link rel="stylesheet" href="css/jquery.calendar.css">
  <link rel="stylesheet" href="css/add_row_custon.css">
  <link rel="stylesheet" href="css/mobile_menu.css">
  <link rel="stylesheet" href="css/jquery.exzoom.css">
  <link rel="stylesheet" href="css/multiple-image-video.css">
  <link rel="stylesheet" href="css/ranger_style.css">
  <link rel="stylesheet" href="css/jquery.classycountdown.css">
  <link rel="stylesheet" href="css/venobox.min.css">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <!-- <link rel="stylesheet" href="css/rtl.css"> -->
</head>

<body>

  <!--=============================
    DASHBOARD MENU START
  ==============================-->
  <div class="wsus__dashboard_menu">
    <div class="wsusd__dashboard_user">
      <img src="images/dashboard_user.jpg" alt="img" class="img-fluid">
      <p>anik roy</p>
    </div>
  </div>
  <!--=============================
    DASHBOARD MENU END
  ==============================-->


  <!--=============================
    DASHBOARD START
  ==============================-->
  <section id="wsus__dashboard">
    <div class="container-fluid">
      <div class="dashboard_sidebar">
        <span class="close_icon">
          <i class="far fa-bars dash_bar"></i>
          <i class="far fa-times dash_close"></i>
        </span>
        <a href="dsahboard.html" class="dash_logo"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
        <ul class="dashboard_link">
          <li><a href="dsahboard.html"><i class="fas fa-tachometer"></i>Dashboard</a></li>
          <li><a href="dsahboard_order.html"><i class="fas fa-list-ul"></i> Orders</a></li>
          <li><a href="dsahboard_download.html"><i class="far fa-cloud-download-alt"></i> Downloads</a></li>
          <li><a href="dsahboard_review.html"><i class="far fa-star"></i> Reviews</a></li>
          <li><a href="dsahboard_wishlist.html"><i class="far fa-heart"></i> Wishlist</a></li>
          <li><a href="dsahboard_profile.html"><i class="far fa-user"></i> My Profile</a></li>
          <li><a class="active" href="dsahboard_address.html"><i class="fal fa-gift-card"></i> Addresses</a></li>
          <li><a href="#"><i class="far fa-sign-out-alt"></i> Log out</a></li>
        </ul>
      </div>

      <div class="row">
        <div class="col-xl-9 col-xxl-10 col-lg-9 ms-auto">
          <div class="dashboard_content">
            <h3><i class="fal fa-gift-card"></i> address</h3>
            <div class="wsus__dashboard_add">
              <div class="row">
                <div class="col-xl-6">
                  <div class="wsus__dash_add_single">
                    <h4>Billing Address <span>office</span></h4>
                    <ul>
                      <li><span>name :</span> anik roy</li>
                      <li><span>Phone :</span> +66954581322222</li>
                      <li><span>email :</span> example@gmail.com</li>
                      <li><span>country :</span> bangladesh</li>
                      <li><span>city :</span> dhaka</li>
                      <li><span>zip code :</span> 8320</li>
                      <li><span>company :</span> N/A</li>
                      <li><span>address :</span> bashindhara P/A, dhaka</li>
                    </ul>
                    <div class="wsus__address_btn">
                      <a href="dsahboard_address_add.html" class="edit"><i class="fal fa-edit"></i> edit</a>
                      <a href="#" class="del"><i class="fal fa-trash-alt"></i> delete</a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="wsus__dash_add_single">
                    <h4>Billing Address <span>home</span></h4>
                    <ul>
                      <li><span>name :</span> anik roy</li>
                      <li><span>Phone :</span> +66954581322222</li>
                      <li><span>email :</span> example@gmail.com</li>
                      <li><span>country :</span> bangladesh</li>
                      <li><span>city :</span> dhaka</li>
                      <li><span>zip code :</span> 8320</li>
                      <li><span>company :</span> N/A</li>
                      <li><span>address :</span> bashindhara P/A, dhaka</li>
                    </ul>
                    <div class="wsus__address_btn">
                      <a href="dsahboard_address_add.html" class="edit"><i class="fal fa-edit"></i> edit</a>
                      <a href="dsahboard_address_add.html" class="del"><i class="fal fa-trash-alt"></i> delete</a>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <a href="dsahboard_address_add.html" class="add_address_btn common_btn"><i class="far fa-plus"></i>
                    add new address</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=============================
    DASHBOARD START
  ==============================-->


  <!--============================
    SCROLL BUTTON START
  ==============================-->
  <div class="wsus__scroll_btn">
    <i class="fas fa-chevron-up"></i>
  </div>
  <!--============================
    SCROLL BUTTON  END
  ==============================-->


  <!--jquery library js-->
  <script src="js/jquery-3.6.0.min.js"></script>
  <!--bootstrap js-->
  <script src="js/bootstrap.bundle.min.js"></script>
  <!--font-awesome js-->
  <script src="js/Font-Awesome.js"></script>
  <!--select2 js-->
  <script src="js/select2.min.js"></script>
  <!--slick slider js-->
  <script src="js/slick.min.js"></script>
  <!--simplyCountdown js-->
  <script src="js/simplyCountdown.js"></script>
  <!--product zoomer js-->
  <script src="js/jquery.exzoom.js"></script>
  <!--nice-number js-->
  <script src="js/jquery.nice-number.min.js"></script>
  <!--counter js-->
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.countup.min.js"></script>
  <!--add row js-->
  <script src="js/add_row_custon.js"></script>
  <!--multiple-image-video js-->
  <script src="js/multiple-image-video.js"></script>
  <!--sticky sidebar js-->
  <script src="js/sticky_sidebar.js"></script>
  <!--price ranger js-->
  <script src="js/ranger_jquery-ui.min.js"></script>
  <script src="js/ranger_slider.js"></script>
  <!--isotope js-->
  <script src="js/isotope.pkgd.min.js"></script>
  <!--venobox js-->
  <script src="js/venobox.min.js"></script>
  <!--classycountdown js-->
  <script src="js/jquery.classycountdown.js"></script>

  <!--main/custom js-->
  <script src="js/main.js"></script>
</body>

</html>