<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>One Shop || e-Commerce HTML Template</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/jquery.nice-number.min.css">
    <link rel="stylesheet" href="css/jquery.calendar.css">
    <link rel="stylesheet" href="css/add_row_custon.css">
    <link rel="stylesheet" href="css/mobile_menu.css">
    <link rel="stylesheet" href="css/jquery.exzoom.css">
    <link rel="stylesheet" href="css/multiple-image-video.css">
    <link rel="stylesheet" href="css/ranger_style.css">
    <link rel="stylesheet" href="css/jquery.classycountdown.css">
    <link rel="stylesheet" href="css/venobox.min.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- <link rel="stylesheet" href="css/rtl.css"> -->
</head>

<body>



    <!--=============================
        DASHBOARD MENU START
    ==============================-->
    <div class="wsus__dashboard_menu">
        <div class="wsusd__dashboard_user">
            <img src="images/dashboard_user.jpg" alt="img" class="img-fluid">
            <p>anik roy</p>
        </div>
    </div>
    <!--=============================
        DASHBOARD MENU END
    ==============================-->



    <!--=============================
        DASHBOARD START
    ==============================-->
    <section id="wsus__dashboard">
        <div class="container-fluid">
            <div class="dashboard_sidebar">
                <span class="close_icon">
                    <i class="far fa-bars dash_bar"></i>
                    <i class="far fa-times dash_close"></i>
                </span>
                <a href="dsahboard.html" class="dash_logo"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
                <ul class="dashboard_link">
                    <li><a href="dsahboard.html"><i class="fas fa-tachometer"></i>Dashboard</a></li>
                    <li><a href="dsahboard_order.html"><i class="fas fa-list-ul"></i> Orders</a></li>
                    <li><a href="dsahboard_download.html"><i class="far fa-cloud-download-alt"></i> Downloads</a></li>
                    <li><a href="dsahboard_review.html"><i class="far fa-star"></i> Reviews</a></li>
                    <li><a class="active" href="dsahboard_wishlist.html"><i class="far fa-heart"></i> Wishlist</a></li>
                    <li><a href="dsahboard_profile.html"><i class="far fa-user"></i> My Profile</a></li>
                    <li><a href="dsahboard_address.html"><i class="fal fa-gift-card"></i> Addresses</a></li>
                    <li><a href="#"><i class="far fa-sign-out-alt"></i> Log out</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xl-9 col-xxl-10 col-lg-9 ms-auto">
                    <div class="dashboard_content mt-2 mt-md-0">
                        <h3><i class="far fa-heart"></i> wishlist</h3>
                        <div class="wsus__dashboard_wishlist">
                            <div class="row">
                                <div class="col-12">
                                    <div class="wsus__cart_list wishlist">
                                        <div class="table-responsive">
                                            <table>
                                                <tbody>
                                                    <tr class="d-flex">
                                                        <th class="wsus__pro_img">
                                                            product item
                                                        </th>

                                                        <th class="wsus__pro_name">
                                                            product details
                                                        </th>

                                                        <th class="wsus__pro_status">
                                                            status
                                                        </th>

                                                        <th class="wsus__pro_select">
                                                            quantity
                                                        </th>

                                                        <th class="wsus__pro_tk">
                                                            price
                                                        </th>

                                                        <th class="wsus__pro_icon">
                                                            action
                                                        </th>
                                                    </tr>
                                                    <tr class="d-flex">
                                                        <td class="wsus__pro_img"><img src="images/pro9_9.jpg"
                                                                alt="product" class="img-fluid w-100">
                                                            <a href="#"><i class="far fa-times"></i></a>
                                                        </td>

                                                        <td class="wsus__pro_name">
                                                            <p>men's fashion sholder leather bag</p>
                                                        </td>

                                                        <td class="wsus__pro_status">
                                                            <p>in stock</p>
                                                        </td>

                                                        <td class="wsus__pro_select">
                                                            <form class="select_number">
                                                                <input class="number_area" type="text" min="1" max="100"
                                                                    value="1" />
                                                            </form>
                                                        </td>

                                                        <td class="wsus__pro_tk">
                                                            <h6>$180,00</h6>
                                                        </td>

                                                        <td class="wsus__pro_icon">
                                                            <a class="common_btn" href="#">add to cart</a>
                                                        </td>
                                                    </tr>
                                                    <tr class="d-flex">
                                                        <td class="wsus__pro_img">
                                                            <img src="images/pro4.jpg" alt="product"
                                                                class="img-fluid w-100">
                                                            <a href="#"><i class="far fa-times"></i></a>
                                                        </td>

                                                        <td class="wsus__pro_name">
                                                            <p>mean's casula fashion watch</p>
                                                        </td>

                                                        <td class="wsus__pro_status">
                                                            <p>in stock</p>
                                                        </td>

                                                        <td class="wsus__pro_select">
                                                            <form class="select_number">
                                                                <input class="number_area" type="text" min="1" max="100"
                                                                    value="1" />
                                                            </form>
                                                        </td>

                                                        <td class="wsus__pro_tk">
                                                            <h6>$140,00</h6>
                                                        </td>

                                                        <td class="wsus__pro_icon">
                                                            <a class="common_btn" href="#">add to cart</a>
                                                        </td>
                                                    </tr>
                                                    <tr class="d-flex">
                                                        <td class="wsus__pro_img">
                                                            <img src="images/blazer_1.jpg" alt="product"
                                                                class="img-fluid w-100">
                                                            <a href="#"><i class="far fa-times"></i></a>
                                                        </td>

                                                        <td class="wsus__pro_name">
                                                            <p>product name and details</p>
                                                        </td>

                                                        <td class="wsus__pro_status">
                                                            <span> out of stock</span>
                                                        </td>

                                                        <td class="wsus__pro_select">
                                                            <form class="select_number">
                                                                <input class="number_area" type="text" min="1" max="100"
                                                                    value="1" />
                                                            </form>
                                                        </td>

                                                        <td class="wsus__pro_tk">
                                                            <h6>$220,00</h6>
                                                        </td>

                                                        <td class="wsus__pro_icon">
                                                            <a class="common_btn" href="#">add to cart</a>
                                                        </td>
                                                    </tr>
                                                    <tr class="d-flex">
                                                        <td class="wsus__pro_img">
                                                            <img src="images/pro2.jpg" alt="product"
                                                                class="img-fluid w-100">
                                                            <a href="#"><i class="far fa-times"></i></a>
                                                        </td>
                                                        <td class="wsus__pro_name">
                                                            <p>product name and details</p>
                                                        </td>

                                                        <td class="wsus__pro_status">
                                                            <p>in stock</p>
                                                        </td>

                                                        <td class="wsus__pro_select">
                                                            <form class="select_number">
                                                                <input class="number_area" type="text" min="1" max="100"
                                                                    value="1" />
                                                            </form>
                                                        </td>

                                                        <td class="wsus__pro_tk">
                                                            <h6>$180.00</h6>
                                                        </td>

                                                        <td class="wsus__pro_icon">
                                                            <a class="common_btn" href="#">add to cart</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="pagination">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link page_active" href="#">1</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=============================
        DASHBOARD START
    ==============================-->


    <!--============================
        SCROLL BUTTON START
    ==============================-->
    <div class="wsus__scroll_btn">
        <i class="fas fa-chevron-up"></i>
    </div>
    <!--============================
        SCROLL BUTTON  END
    ==============================-->


    <!--jquery library js-->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!--bootstrap js-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--font-awesome js-->
    <script src="js/Font-Awesome.js"></script>
    <!--select2 js-->
    <script src="js/select2.min.js"></script>
    <!--slick slider js-->
    <script src="js/slick.min.js"></script>
    <!--simplyCountdown js-->
    <script src="js/simplyCountdown.js"></script>
    <!--product zoomer js-->
    <script src="js/jquery.exzoom.js"></script>
    <!--nice-number js-->
    <script src="js/jquery.nice-number.min.js"></script>
    <!--counter js-->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.countup.min.js"></script>
    <!--add row js-->
    <script src="js/add_row_custon.js"></script>
    <!--multiple-image-video js-->
    <script src="js/multiple-image-video.js"></script>
    <!--sticky sidebar js-->
    <script src="js/sticky_sidebar.js"></script>
    <!--price ranger js-->
    <script src="js/ranger_jquery-ui.min.js"></script>
    <script src="js/ranger_slider.js"></script>
    <!--isotope js-->
    <script src="js/isotope.pkgd.min.js"></script>
    <!--venobox js-->
    <script src="js/venobox.min.js"></script>
    <!--classycountdown js-->
    <script src="js/jquery.classycountdown.js"></script>

    <!--main/custom js-->
    <script src="js/main.js"></script>
</body>

</html>